.Catalogo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    font-size: 4vw;
    color: #000;
}