.brandoptions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    background-color: rgb(233, 233, 233);
    border: 2px solid rgb(75, 75, 75);
    border-radius: 60px;
}


.option {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
    background-color: #fff;
    border: 2px solid rgb(100, 100, 100);
    border-radius: 50px;

    cursor: pointer;
    transition: all 0.3s ease;
}

@media (max-width: 950px) {

    .brandoptions {
        display: flex;
        width: max-content;
        max-width: 85vw;
        height: 65px;
        justify-content: center;
        gap: 1px;
        border-radius: 40px;
    }

    .option {
        width: 70px;
        height: 100%;
        border-radius: 40px;
    }

}


.option:hover {
       border: 2px solid #201e1f;
       backdrop-filter: blur(3px);
       box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

.option.active {
    width: 180px;
    border-radius: 50px;
    border: 2px solid #ff7300;
}

#arauco {
    width: 85%;
    height: 85%;
    object-fit: contain;
}

#duratex {
    width: 80%;
    height: 80%;
    object-fit: contain;
}

#fibraplac {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#placas {
    width: 70%;
    height: 70%;
    object-fit: contain;
}

#eucatex {
    width: 75%;
    height: 75%;
    object-fit: contain;
}

.logoMiniatura {
    width: 60%;
    height: 60%;
    object-fit: contain;
}