.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10vh; 
    margin-bottom: 20px; 
    width: 87.5vw;
}

.product {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
    width: 23%;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin-bottom: 20px;

    cursor: pointer;
    transition: all 0.3s ease;

    position: relative;
    overflow: hidden;
}

.productOverlay {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 70%;
    height: 8%;

    background: #e9e9e9;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px 10px 0px 0px;
}

.padrao {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    position: relative;
    z-index: 0;
}

.name {
    position: relative;
    width: 50%;
    height: 5%;
    background-color: red;
}

.clickIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    
    z-index: 2;
}

.product:hover .clickIcon {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.1);
}

.product:hover {
       border: 2px solid #f87000;
       backdrop-filter: blur(5px);
       box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

.product:hover .productOverlay {
    background: #f87000;
}

.productOverlay {
    transition: background 0.3s ease;
    position: absolute;
    z-index: 2;
}

.product::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.product:hover::after {
    opacity: 1;
}

.product:hover {
    transform: scale(1.02);
}

@media (max-width: 950px) {

.products {
    margin-top: 10vh; 
    margin-bottom: 20px; 
    width: 87.5vw;
}

.product {
    width: 48%;
    height: 25vh;
}

.productOverlay {
    text-align: center;
    width: 80%;
    height: 20px;
    border-radius: 8px 8px 0px 0px;
}

}
