.Videos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 3vw;
    color: #000;
}

@media (max-width: 950px) {

.titulo {
    width: 100%;
    font-size: 6vw;
}

}
