.modalBackdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 100;
}

.modalBackdrop.active {
    opacity: 1;
    pointer-events: all;
}

.modal {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(100%);
    width: 100vw;
    height: 78vh;

    background: white;
    border-radius: 20px 20px 0 0;
    padding: 20px;

    transition: transform 0.4s ease;
    z-index: 200;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal.active {
    transform: translateX(-50%) translateY(0);
}

.closeBtn {
    position: absolute;
    top: 15px;
    right: 20px;
    border: none;
    background: none;
    font-size: 22px;
    cursor: pointer;
}


.isClosed {
    display: none;
}

.ProductImage{
  height: 40vh;
  width: 90%;
  border-radius: 20px;
  background: #bdbdbdad;
}

.ProductName {
    display: flex;
    align-items: center;
    width: 90%;
}

.ProductBrand {
    width: 90%;
    margin-bottom: 18px;
}

.BrandImage {
  height: auto;
  width: 100px;
}

.textura {
    margin-left: 8px;
    font-size: 26px;
}

