.modalBackdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 100;
}

.modalBackdrop.active {
    opacity: 1;
    pointer-events: all;
}

.modal {
    position: fixed;
    top: 80px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) translateY(100%);
    width: 100vw;

    background: white;
    border-radius: 20px 20px 0 0;

    transition: transform 0.4s ease;
    z-index: 1000;

    display: flex;
    flex-direction: column;

    overflow: hidden; 
}

.modalContent {
    flex: 1;    
    overflow-y: auto;  
    -webkit-overflow-scrolling: touch;
}

.modalInner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}


.modal.active {
    transform: translateX(-50%) translateY(0);
}

.closeBtn {
    position: absolute;
    top: 15px;
    right: 20px;
    border: none;
    background: none;
    font-size: 22px;
    cursor: pointer;
}


.isClosed {
    display: none;
}

.ProductImage{
  height: 40vh;
  width: 100%;
  display: block;
  border-radius: 20px;
  background: #bdbdbdad;
}

.ProductImage2 {
  height: 40vh;
  width: 90%;
  display: block;
  border-radius: 20px;
  background: #bdbdbdad;
}

.brilhoOverlay {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 10;
}

.imageWrapper {
  width: 90%;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.ProductName {
    display: flex;
    align-items: center;
    width: 90%;
}

.ProductBrand {
    width: 90%;
    margin-bottom: 18px;
}

.BrandImage {
  height: auto;
  width: 100px;
}

.textura {
    margin-left: 8px;
    font-size: 26px;
}

.attention {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 90%;
    margin-bottom: 16px;
    border-radius: 25px;
    background-color: rgba(255, 87, 87, 0.692);
}

.attentionText {
    padding: 0 8px;
    justify-content: center;
    align-items: center;
    font-size: 17px;
}

.imageWrapper::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -75%;
  width: 50%;
  height: 200%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: rotate(25deg);
  animation: shine 3s infinite;
}

@keyframes shine {
  0% {
    left: -75%;
  }
  100% {
    left: 125%;
  }
}

@media (min-width: 950px) {

  .imageWrapper {
  width: 90%;
  position: relative;
  display: flex;
  overflow: hidden;
  justify-content: center;
}

.ProductImage{
  height: 45vh;
  width: 35vw;
  border-radius: 20px;
  background: #bdbdbdad;
}

.ProductImage2 {
  height: 45vh;
  width: 35vw;
  display: block;
  border-radius: 20px;
  background: #bdbdbdad;
}

}

