.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 90px;
    background-color: #201e1f;
}

.Logo {
  height: 60px;
}

.Menu {
  margin-right: 2%;
  color: white;
  cursor: pointer;
}

/* Overlay escuro */
.menuOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
  z-index: 1500;
}

.menuOverlay.active {
  opacity: 1;
  pointer-events: all;
}

/* Drawer lateral */
.menuDrawer {
  position: fixed;
  top: 0;
  right: 0;
  width: 75%;
  max-width: 300px;
  height: 100vh;
  background-color: #fff;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 2000;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.menuDrawer.open {
  transform: translateX(0);
}

.menuHeader {
  display: flex;
  justify-content: flex-end;
}

.menuOptions {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menuOptions button {
  padding: 15px;
  font-size: 18px;
  border: none;
  background-color: #201e1f;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.menuOptions button:hover {
  opacity: 0.8;
}

.drawerContent {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.menuCard {
  background: #ffffff;
  border-radius: 12px;
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 14px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s ease;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.menuCard:active {
  transform: scale(0.97);
}

.drawerHeader h3 {
  margin: 0;
}

.drawerHeader {
  display: flex;
  justify-content: space-between;
}

.IconImage {
  border-radius: 50%;
    width: 70px;
    height: 70px;
    object-fit: contain;
}