.section{
    display: flex;
    flex-direction: column;
    width: 90%;
    border: 2px solid #00810f;
    border-radius: 20px;
    margin-top: 40px;
    background-color: #44dd5617;
    height: 600px;
    align-items: center;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    border-radius: 20px;
    background-color: #00810f;
}

.contacts {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.section.open .contacts {
    max-height: 200px;
    opacity: 1;
    padding: 0 15px;
}

.contactItem {
    display: flex;
    max-width: 90%;
    align-items: center;
    align-items: flex-start;
    margin-top: 10px;
}

.NameButton {
    margin: 0;
    color: white;
    font-size: 26px;
    font-weight: 600;
}

.Phone {
    margin: 0;
    color: black;
    font-size: 16px;
    font-weight: 600;
}

.Bag {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}

.City {
    color: black;
    font-size: 18px;
    font-weight: 600;
}

.location {
    margin-top: 20px;
}

.avatar {
    width: 40px;
    height: 40px;      /* largura e altura iguais = quadrado */
    border-radius: 50%; /* círculo perfeito */
    overflow: hidden;   /* corta o excesso */
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;  /* mantém proporção e preenche o círculo */
}