.section{
    display: flex;
    flex-direction: column;
    width: 90%;
    border: 2px solid #00810f;
    border-radius: 20px;
    margin-top: 40px;
    background-color: #4fce5e38;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    border-radius: 20px;
    background-color: #00810f;
}

.contacts {
    width: 100%;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.4s ease, opacity 0.3s ease;
}

.section.open .contacts {
    max-height: 200px;
    opacity: 1;
    padding: 0 15px;
}

.contactItem {
    display: flex;
    max-width: 90%;
    align-items: center;
    justify-content: space-between;
}

.NameButton {
    color: white;
    font-size: 26px;
    font-weight: 600;
}

.Phone {
    color: black;
    font-size: 16px;
    font-weight: 600;
}

.Bag {
    display: flex;
    align-items: center;
    gap: 8px;
}

.City {
    color: black;
    font-size: 22px;
    font-weight: 600;
}