.Listagem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 26px;
}

.Lista {
    border: 2px solid rgb(100, 100, 100);
    border-radius: 15px;
    width: 90%;
    height: 300px;
    background-color: rgba(100, 100, 100, 0.11);
}